.article {
  font-size: 18px;
  margin-top: 15px;
  text-align: justify;

  &__title {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    color: #d62f26;
    font-size: 36px;
    text-transform: uppercase;
  }
}