body {
  font-family: RobotoLight;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@import "variables";
@import "mixins";
@import "header";
@import "slider";
@import "offers";
@import "aboutmain";
@import "sliderbrands";
@import "map";
@import "footer";

@import "mediaqueries";