@media only screen and (max-width : 1200px) {
  .main-menu {
    & .nav>li>a {
      padding: 10px 3px;
    }
    & .nav > li.dropdown.open .dropdown-menu {
      width: 98.5%;
      margin: -8px 0 0 7px;
    }

  }
  .advantages-item {

    &__number {
      font-size: 66px;
    }
    &__text {
      font-size: 27px;
    }
  }
  .form-parts {
    &__input {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width : 992px) {

  .address-top {
    font-size: 15px;
  }

  .header-elements {
    &__logo {
      text-align: center;
    }

    &__sub-logo {
      text-align: center;
      margin-left: 15px;
    }

    &__block-phone {
      text-align: center;
    }
  }

  .nav-icons {
    &__wrapper {
      padding: 20px 10px 5px 10px;
      & img {
        width: 60px;
      }
    }

  }
  .form-parts {
    &__input {
      font-size: 14px;
    }
  }
  .footer-elements {
    text-align: center;

    &__form {
      margin-top: 10px;
    }
  }
  .advantages-item {

    &__number {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
}

@media only screen and (max-width : 768px) {
  .header-elements {
    padding-bottom: 25px;
  }
  .address-top {
    text-align: center;
    margin-top: 50px;

    &__desc {
      margin: 0 0 4px 0;
    }
  }

  .form-parts {
    &__wrapper-input {
      flex-direction: column;
    }
    &__input {
      font-size: 18px;
      &_model {
        border-left: 1px solid #939393;
        border-right: 1px solid #939393;
        border-top: 0px;
        border-bottom: 0px;
      }
      &_modification {
        border-left: 1px solid #939393;
        border-right: 1px solid #939393;
        border-top: 0px;
        border-bottom: 0px;
      }
    }
    &__dropdown-brands {
      width: 100%;
    }
    &__dropdown-model {
      width: 100%;
      margin-left: 0;
    }
    &__dropdown-year {
      width: 100%;
      margin-left: 0;
    }
    &__dropdown-modification {
      width: 100%;
      margin-left: 0;
    }
    &__dropdown-work {
      width: 100%;
      margin-left: 0;
    }
    &__result-item {
      flex-direction: column;
    }
    &__result-description {
      border-right: 0px solid #939393;
      border-left: 0px solid #939393;
    }
    &__result-btn{
      width: 240px;
    }
    &__submit {
      width: 273px;
    }
  }

  .all-brands {

    &__item {
      text-align: center;
      & >div:nth-child(2) {
        border-top: 0px dashed #cccccc;
        border-bottom: 0px dashed #cccccc;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;

      & >div:last-child {
        //border-bottom: 0px dashed #ccc;
      }
    }
    &__wrapper-img {
      width: 100%;
      position: relative;
      padding: 20px 0;
      border-right: 0px dashed #ccc;
      border-left: 2px dashed #ccc;
      border-right: 2px dashed #ccc;
      border-bottom: 2px dashed #ccc;

    }

  }

  .slider {
    &__pos {
      align-items: center;
    }

  }

  .nav-icons {

    &__wrapper {


      & img {
        margin-top: 4px;
      }

      &:before {
        border-width: 0 0px 0px 0px;
      }

      &:after {
          height: 140px;
          left: 50%;
      }
    }
  }

  .main-menu {
    top: 0;
    margin-top: 0px;


    & .navbar-nav>li{
      display: block;
    }


    & .nav > li.dropdown.open .dropdown-menu {
      display:table;
      width: 100%;
      text-align: left;
      left:0;
      right:0;
      margin: -8px 0 0;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #d62f26;
      border: 0px solid rgba(0,0,0,.0);
      border-radius: 0px;
      box-shadow: 0 0px 0px rgba(0,0,0,.0);
    }

    & .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
    }

    & .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #ccc;
    }
    & .dropdown-menu>li {
      display:block;
      text-align: center;
    }

    & .navbar {
      background: #000;
    }

  }

}

@media only screen and (max-width : 550px) {

  .header-elements {
    &__logo {
      font-size: 60px;
    }

    &__sub-logo {
      text-align: center;
      margin-left: 15px;
      letter-spacing: 15.1px;
    }
    &__phone {

      font-size: 38px;

    }
  }
}

@media only screen and (max-width : 480px) {
  .header-elements {
    background-color: #d62f26;

    &__logo {
      font-size: 47px;

    }

    &__sub-logo {
      margin-left: 0;
      letter-spacing: 8.1px;
    }


    &__phone {

      font-size: 28px;

    }

    &__work-hours {
      font-size: 18px;
    }
  }
  .slider {
    &__form {
      width: 290px;
    }
    &__title {
      font-size: 25px;
      padding: 15px;
    }
  }
  .offers-modal {
    &__block-form {
      width: 250px;
    }
  }

  .popup-form {
    &__input-submit {
      width: 220px;
      border: 0;
      background: #d62f26;
      font-family: RobotoRegular;
      height: 55px;
      color: #fff;
      margin-top: 2px;
    }
  }
}

@media only screen and (max-width : 375px) {
  .article-post {

    &__button-more {
      width: 275px;

    }
  }
  .form-service {
    &__submit {
      font-family: RobotoMedium;
      width: 275px;
    }
  }
  .service-model {
    &__heading {
      font-size: 34px;
    }
  }
  .footer-elements {


    &__sub-logo {
      font-size: 17px;
    }
  }

}

@media only screen and (max-width : 320px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}


@media only screen and (min-width : 1200px) {

}


@media only screen and (min-width : 992px) {
  .modal-lg {
    min-width: 1140px;
  }
}

@media only screen and (min-width : 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}